# Build artifacts
nib
nibasm
nibdis
nib.tab.c
nib.tab.h
lex.yy.c
nib.output
bison_report.txt

# Build artifacts
*.o

# Test/compiler outputs
tests/*.bin
tests/*.map
tests/*.nir
tests/*.nif

# Editor
*.swp
*~
